<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlaylistBridge Website{% endblock %}</title>
    <script src="https://kit.fontawesome.com/47100a983e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="/dashboard">PlaylistBridge</a></h1>        
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2024 PlaylistBridge Website</p>
    </footer>
</body>
</html>
