{% extends "base.html" %}
{% block title %}PlaylistBridge{% endblock %}
{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

<div class="menu-mubrne">
    <button><i class="fa-solid fa-bars"></i></button>
</div>

<main>
    <div class="menu-mvqca">
        <div class="prfle">
            <ul class="mdltc">
                <li class="mditc">
                    <p class="txt-accnt">Garridot</p>
                </li>
            </ul>
        </div>
        <div class="lgtou">
            <a href="/auth/logout">
                <p>Log out</p>
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>  
    <div class="grid container">  
    </div>  
</main>
    
<script type="module" src="/static/js/home.js"></script>
{% endblock %}