{% extends "base.html" %}
{% block title %}Home - My Flask App{% endblock %}
{% block content %}

<style>    
    .grid.container {
        display: flex;
        justify-content: space-between;
    }
    ul {
        list-style: none;        
    }
    li {
        cursor: pointer;
        margin: 1rem 0;
    }

</style>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h1>Welcome to the dashboard!</h1>  
    <div class="grid container">
        <div class="sp-box"></div>
        <div class="yt-box"></div>
    </div>  
    
    <script type="module" src="/static/js/home.js"></script>
{% endblock %}